.bottomNav {
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  transition: all .1s ease;
}

.bottomNav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

.bottomNav a {
  color: var(--clr-border);
  font-size: 1rem;
}

.bottomNav a:focus-visible,
.footer a:focus-visible {
  outline: .125rem solid #ffcc00;
  outline-offset: .5rem;
  border-radius: 40%;
}

.footer {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer a {
  color: var(--green-marker5);
  text-decoration: underline;
}

@media (max-width: 760px) {
  .bottomNav {
    font-size: 0.6rem;
  }

  .bottomNav a {
    font-size: 0.7rem;
  }
}
